* {
  font-family: 'PingFang-SC-Bold';
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
fieldset,
img {
  border: 0 none;
}
/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
/* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote,
q {
  quotes: none;
}
/* 重置嵌套引用的引号类型 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
/* 重置嵌套引用*/
input,
select,
textarea,
button {
  vertical-align: middle;
}
/* 重置表单控件垂直居中*/
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
/* 重置链接a标签 */
a:active,
a:hover {
  text-decoration: none;
}
/* 重置链接a标签的鼠标滑动效果 */
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
/* 重置样式标签的样式 */
caption {
  display: none;
}
/* 重置表格标题为隐藏 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
/* 重置table属性 */
/* 公用样式 */
.wHeadBg {
  background-color: #fff ;
  /* 白色底 */
}
.nHeadBg {
  background-color: transparent;
  /* 透明底 */
}
