html,
body {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.wrap {
  width: 100%;
  min-height: 100%;
  padding: .27rem .47rem .67rem;
}
.wrap .title {
  font-size: .56rem ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap ;
  color: #221802;
}
.wrap .seeting {
  margin: .67rem 0;
  overflow: hidden;
}
.wrap .seeting .set-btns {
  overflow: hidden ;
  float: left;
}
.wrap .seeting .set-btns a {
  display: block;
  width: .75rem ;
  height: .75rem ;
  float: left;
  margin-right: .13rem ;
}
.wrap .seeting .set-btns .day-bg1 {
  background: url('../../Image/read/day-bg1.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .set-btns .day-bg2 {
  background: url('../../Image/read/day-bg2.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .set-btns .day-bg3 {
  background: url('../../Image/read/day-bg3.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .set-btns .day-bg4 {
  background: url('../../Image/read/day-bg4.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .set-btns .day-bg5 {
  background: url('../../Image/read/day-bg5.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .set-btns .night-modal {
  background: url('../../Image/read/day-night.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .set-btns .font-large {
  background: url('../../Image/read/day-fontlarge.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .set-btns .font-small {
  background: url('../../Image/read/day-fontsmall.png') no-repeat;
  background-size: 100% 100%;
}
.wrap .seeting .toIndex {
  float: right;
  display: block ;
  width: 1.28rem ;
  height: .75rem ;
  text-align: center;
  border-radius: .13rem ;
  border: 1px solid #EBF0F5;
  line-height: .75rem;
  font-size: .35rem ;
  color: #99958D ;
}
.wrap .reading-area {
  color: #221802;
}
.wrap .reading-area p {
  line-height: 1.7;
  margin-bottom: .4rem ;
  text-indent: 2.0em ;
}
.wrap .paging {
  padding: 0 ;
  margin: .67rem 0 .53rem;
}
.wrap .paging .gray {
  opacity: 0.5;
}
.wrap .Chasing {
  text-align: center;
  font-size: 0;
}
.wrap .Chasing span {
  font-size: .37rem;
  padding-right: .16rem;
  color: #F2AC17 ;
}
.wrap .Chasing i {
  color: #F2AC17 ;
  font-size: .16rem ;
}
.wrap .read-recommend .recom-top {
  margin: .53rem 0 .67rem;
  padding-top: .53rem;
  border-top: 1px solid #EBF0F5;
}
.wrap .read-recommend .recom-top .list {
  padding: .53rem .47rem ;
}
.wrap .read-recommend .recom-top .list ul li {
  margin-bottom: .53rem ;
}
.wrap .read-recommend .recom-top .list ul li:last-child {
  margin-bottom: 0;
}
.wrap .read-recommend .recom-top .list ul li a {
  overflow: hidden;
  display: block;
}
.wrap .read-recommend .recom-top .list ul li a .tobook {
  float: left;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis ;
  white-space: nowrap;
  font-size: .4rem ;
  color: #221802 ;
  height: 1.6em;
  line-height: 1.6em;
}
.wrap .read-recommend .recom-top .list ul li a .toread {
  float: right ;
  font-size: .32rem ;
  color: #99958D ;
  height: 2.0em;
  line-height: 2.0em;
}
.wrap .read-recommend .recom-top .list ul li a .toread i {
  font-size: .16rem ;
}
.wrap .read-recommend .read-wechat {
  text-align: center ;
}
.wrap .read-recommend .read-wechat .we-icon {
  width: 100%;
  position: relative;
  border-top: 1px solid #EBF0F5 ;
  margin-bottom: .53rem ;
}
.wrap .read-recommend .read-wechat .we-icon span {
  display: block;
  width: .67rem;
  height: .37rem;
  text-align: center;
  background: url('../../Image/read/day-public.png') no-repeat center;
  background-size: .32rem .37rem;
  position: absolute;
  left: 50%;
  margin-left: -0.33rem;
  top: -0.19rem;
  font-size: 0;
  background-color: #fff ;
  z-index: 10;
}
.wrap .read-recommend .read-wechat .p1 {
  font-size: .37rem ;
  color: #998862 ;
}
.wrap .read-recommend .read-wechat .p2 {
  font-size: .32rem ;
  color: #999793 ;
  margin: .27rem 0 .4rem;
}
.wrap .read-recommend .read-wechat .wx {
  width: 3.2rem ;
}
.dayBg1 {
  background-color: #FAFCFE ;
}
.dayBg1 .uterShadowo {
  background-color: #FAFCFE ;
}
.dayBg2 {
  background-color: #FCFBF8 ;
}
.dayBg2 .uterShadowo {
  background-color: #FCFBF8 ;
}
.dayBg3 {
  background-color: #EFF1F8 ;
}
.dayBg3 .uterShadowo {
  background-color: #EFF1F8 ;
}
.dayBg3 .seeting .toIndex {
  border: 1px solid #d8d8d8;
}
.dayBg3 .paging a {
  border: 1px solid #d8d8d8;
}
.dayBg3 .read-recommend .recom-top {
  border-top: 1px solid #d8d8d8;
}
.dayBg3 .read-recommend .read-wechat .we-icon {
  border-top: 1px solid #d8d8d8;
}
.dayBg3 .read-recommend .read-wechat .we-icon span {
  background-color: #EFF1F8 ;
}
.dayBg4 {
  background-color: #EDF2E9 ;
}
.dayBg4 .uterShadowo {
  background-color: #EDF2E9 ;
}
.dayBg4 .seeting .toIndex {
  border: 1px solid #d8d8d8;
}
.dayBg4 .paging a {
  border: 1px solid #d8d8d8;
}
.dayBg4 .read-recommend .recom-top {
  border-top: 1px solid #d8d8d8;
}
.dayBg4 .read-recommend .read-wechat .we-icon {
  border-top: 1px solid #d8d8d8;
}
.dayBg4 .read-recommend .read-wechat .we-icon span {
  background-color: #EDF2E9 ;
}
.dayBg5 {
  background-color: #F5F5F5;
}
.dayBg5 .uterShadowo {
  background-color: #F5F5F5;
}
.dayBg5 .seeting .toIndex {
  border: 1px solid #d8d8d8;
}
.dayBg5 .paging a {
  border: 1px solid #d8d8d8;
}
.dayBg5 .read-recommend .recom-top {
  border-top: 1px solid #d8d8d8;
}
.dayBg5 .read-recommend .read-wechat .we-icon {
  border-top: 1px solid #d8d8d8;
}
.dayBg5 .read-recommend .read-wechat .we-icon span {
  background-color: #F5F5F5;
}
.dayBg6 {
  background-color: #0D0C0C ;
}
.dayBg6 .title {
  color: #444444 ;
  margin-bottom: .4rem;
}
.dayBg6 .seeting .set-btns .day-bg1 {
  background: url('../../Image/read/night-bg1.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .set-btns .day-bg2 {
  background: url('../../Image/read/night-bg2.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .set-btns .day-bg3 {
  background: url('../../Image/read/night-bg3.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .set-btns .day-bg4 {
  background: url('../../Image/read/night-bg4.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .set-btns .day-bg5 {
  background: url('../../Image/read/night-bg5.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .set-btns .night-modal {
  background: url('../../Image/read/night-night.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .set-btns .font-large {
  background: url('../../Image/read/night-fontlarge.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .set-btns .font-small {
  background: url('../../Image/read/night-fontsmall.png') no-repeat;
  background-size: 100% 100%;
}
.dayBg6 .seeting .toIndex {
  border: 1px solid #444;
  color: #66635A ;
}
.dayBg6 .reading-area {
  color: #444444 ;
}
.dayBg6 .paging a {
  color: #66635A ;
  border: 1px solid #444444 ;
}
.dayBg6 .paging .gray {
  opacity: 0.5;
}
.dayBg6 .paging .page-menu {
  background: url('../../Image/menu1.png') no-repeat center;
  background-size: .4rem .4rem;
}
.dayBg6 .Chasing span {
  color: #66635A ;
}
.dayBg6 .Chasing i {
  color: #4C4941 ;
}
.dayBg6 .read-recommend .recom-top {
  border-top: 1px solid #444;
}
.dayBg6 .read-recommend .recom-top .uterShadowo {
  background-color: #131212 ;
  box-shadow: 0 0 .2rem #080808;
  -moz-box-shadow: 0 0 .2rem #080808;
  -webkit-box-shadow: 0 0 .2rem #080808;
}
.dayBg6 .read-recommend .recom-top .list ul li a .tobook {
  color: #444  ;
}
.dayBg6 .read-recommend .recom-top .list ul li a .toread {
  color: #66635A ;
}
.dayBg6 .read-recommend .read-wechat .we-icon {
  border-top: 1px solid #444;
}
.dayBg6 .read-recommend .read-wechat .we-icon span {
  background: url('../../Image/read/night-public.png') no-repeat center;
  background-size: .32rem .37rem;
  background-color: #0D0C0C ;
}
.dayBg6 .read-recommend .read-wechat .p1 {
  color: #444 ;
}
.dayBg6 .read-recommend .read-wechat .p2 {
  color: #444 ;
}
.dayBg6 .read-recommend .read-wechat .wx {
  opacity: 0.5;
}
.fontsize1 {
  font-size: .32rem ;
}
.fontsize2 {
  font-size: .34rem;
}
.fontsize3 {
  font-size: .36rem ;
}
.fontsize4 {
  font-size: .38rem ;
}
.fontsize5 {
  font-size: .4rem ;
}
.fontsize6 {
  font-size: .43rem ;
}
.fontsize7 {
  font-size: .53rem ;
}
.fontsize8 {
  font-size: .67rem;
}
.fontsize9 {
  font-size: .8rem ;
}
.fontsize10 {
  font-size: .93rem ;
}
.fontsize11 {
  font-size: 1.07rem ;
}
.fontsize12 {
  font-size: 1.2rem ;
}
